@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* variable */
:root {
  --white: #c1c1c1;
  --border:rgba(0, 0, 0, .5);
  --buttonColor:rgba(255,165,0,0.85);
  --primary-font: 'Poppins', sans-serif;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
    background: linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.3)),url("./assets/background/bg.jpg");
     /* background: url("./assets/background/bg.jpg"); */
    background-repeat : no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    color:white; 
    font-family: var(--primary-font);
    font-size: 1.6rem;

}

/* #over-lay{
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
} */

/* body::after{
  content:"";
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: -1;

}
body::before{
  content:"";
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: -1;

} */


main,aside{
  padding: 5rem 5rem 0rem 5rem;;
}


main{
    display: flex;
    justify-content: space-between;
    min-height: 55vh;

}
.description{
  font-size: 2.3rem;
}

.city{
  font-size: 1.3rem;
}
.date{
  font-size: 1rem;
}
.time{
  font-size: 1rem;
}
.temperature{
  font-size: 4rem;
}
.change-metric{
  font-size: 1rem;
}
.change-metric a{
  color: white;
  text-decoration: none;
}

.image{
  height: 200px;
}
#image{
   /* width: 100%; */
   height: 100%;
} 
#bottom{
  display: flex;
  min-height: 30vh;
  flex-wrap: wrap;
}